# All the rails backend files to be ignored mentioned here

/backend/.bundle

/backend/.env*
!/backend/.env*.erb

/backend/log/*
/backend/tmp/*
!/backend/log/.keep
!/backend/tmp/.keep

/backend/tmp/pids/*
!/backend/tmp/pids/
!/backend/tmp/pids/.keep

/backend/storage/*
!/backend/storage/.keep
/backend/tmp/storage/*
!/backend/tmp/storage/
!/backend/tmp/storage/.keep

/backend/config/master.key

# Backend files to be ignored end here

# All the angular frontend files to be ignored mentioned here


# Frontend files to be ignored end here